html {
  background-color: #f0eaff;
  color: #5d488a;
}

.header {
color: #5d488a;
  background: #f0eaff;
}

.menuBar {
  background-color: #21163d;
  color: #f0eaff;
}

.menuBar a {
  color: #bdafdc;
}

.menuBar a:hover {
  background-color: #cd73c6;
  color: #f0eaff;
}

.leftBar {
  background-color: #2b1c4f;
  color: #bdafdc;
}

.buttonBar {
  background-color: #f0eaff;
  color: #5d488a;
}

#gototopbtn {
  color: #f0eaff;
  background-color: #5d488a;
  border: #5d488a;
}

#gototopbtn:hover {
  background-color: #cd73c6;
  color: #f6ebf3;
}

.button, .prev, .next {
  background-color: #2b1c4f;
  color: #bdafdc;
  border: 2px solid #2b1c4f;
}

.button:hover, .prev:hover, .next:hover {
  background-color: #cd73c6;
  color: #f0eaff;
  border-color: #5d488a;
}

.comicContainer {
  background-color: #f0eaff;
}

.card {
  background-color: #5d488a;
  color: #bdafdc;
}

.footer {
  color: #bdafdc;
}
